{%- macro format_parameter(position, type) -%}
param{{ position }}: &{{ type }}
{%- endmacro format_parameter %}

{%- macro myjoin(sep, strings) -%}{# Why ? Because the 'join' filter returns an error with complicated expressions #}
{{ strings | join(sep=sep) }}
{%- endmacro myjoin %}

{%- macro make_optional(type) -%}
{%- set result = ["Option<", type, ">"] -%}
{%- set result = result | join(sep="") -%}
{{ result }}
{%- endmacro make_optional %}
